{{#if textFields}}
  <div class="form-group row">
    <div class="col-lg-12">
      <div class="input-group">

        <input type="text" class="form-control keywords-input" autocomplete="on"
          data-purpose="keywords" placeholder="Insert search phrase" value="{{keywords}}">

        <div class="input-group-append">

          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            id="query-by-fields" aria-haspopup="true" aria-expanded="false">
            Query by fields
            <span class="number-circle">{{numberOfSelectedFields}}</span>
          </button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="query-by-fields">
            {{#each textFields as |field index|}}
              <div class="dropdown-item">
                {{ checkbox-select
                  checkboxId=(concat "query-by-fields-checkbox-" index)
                  checked=field.included
                }}
                <label class="query-field-selection">{{field.name}}</label>
              </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>
  </div>
{{/if}}

{{#if numberFields}}
  <div class="form-group row query-sliders">
    <div class="col-lg-12">
      <div class="row">
        {{#each numberFields as |field index|}}
          <div class="{{concat field.columnmd ' ' field.columnsm}}">
            <div class="query-ranges">
              <label>{{field.name}}</label>
              {{
                range-slider
                step=field.step
                value=field.value
                min=field.metadata.min
                max=field.metadata.max
                tooltipPosition='bottom'
                tooltipSplit=true
                focus=false
                mood='info'
              }}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}



{{#if queryChanged}}
  <button class="btn btn-primary btn-rounded pull-right" data-toggle="modal"
    data-target="#subset-create-modal">
    Save results
  </button>
{{/if}}

<button class="btn btn-secondary btn-rounded pull-right"
  {{action "changeQuery"}}>
  Start query
</button>



{{yield}}