{{#if textFields}}
  <div class="form-group row">
    <div class="offset-lg-6 col-lg-6">
      <div class="input-group">
        <input type="text" 
          class="form-control keywords-input" 
          autocomplete="on" 
          data-purpose="keywords" 
          placeholder="Insert search phrase"
          value="{{keywords}}"
        >
        <div class="input-group-append">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selected Fields
            <span class="number-circle">{{numberOfSelectedFields}}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            {{#each textFields as |field index|}}
              <div class="dropdown-item">
                {{ checkbox-select
                  checkboxId=(concat "query-checkbox-" index)
                  checked=field.included
                }}
                <label class="query-field-selection">{{field.name}}</label>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if numberFields}}
  <div class="form-group row">
    <div class="offset-lg-6 col-lg-6">
      <div class="row">
        {{#each numberFields as |field index|}}
          <div class="{{concat field.columnmd ' ' field.columnsm}}">
            <div class="query-ranges">
              <label>{{field.name}}</label>
              {{
                range-slider
                step=field.step
                value=field.value
                min=field.metadata.min
                max=field.metadata.max
                tooltipPosition='bottom'
                tooltipSplit=true
                focus=false
                mood='info'
              }}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}



<button 
  class="btn btn-primary pull-right" 
  {{action "changeQuery"}}
>
  Start Query
</button>

{{#if queryChanged}}
  <button 
    class="btn btn-light pull-right" 
    data-toggle="modal"
    data-target="#subset-create-modal"
  >
    Save Results
  </button>
{{/if}}

{{yield}}