<div class="form-group row">
    <label class="col-sm-2 col-form-label">Keywords</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input class="form-control keywords-input" type="text" autocomplete="on" data-purpose="keywords" value="{{keywords}}">
            <div class="input-group-append">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Selected Fields
                    <span class="number-circle">{{numberOfSelectedFields}}</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {{#each textFields as |field index|}}
                        <div class="dropdown-item">
                            {{ checkbox-select
                                checkboxId=(concat "query-checkbox-" index)
                                checked=field.included
                            }}
                            <label class="query-field-selection">{{field.name}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ranges</label>
    <div class="col-sm-8">
        {{#each numberFields as |field index|}}
            <div class="range">{{field.name}}</div>
        {{/each}}
    </div>
</div> --}}

<button class="btn btn-primary pull-right" {{action "changeQuery"}}>
    Start Query
</button>


{{yield}}