{{#if cluster.subsetCreated}}
  {{#link-to 'dataset.subset' dataset cluster.subsetId class="btn btn-secondary pull-right" }}
    Go to Subset
  {{/link-to}}
{{else if cluster.documentCount}}
  <button class="btn btn-primary pull-right" data-toggle="modal"
    data-target="{{concat '#create-subset-kmeans-' method.id '-' index}}">Create Subset</button>
{{/if}}

<h4 class="cluster-header">
  <!-- button for toggling collapse -->
  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    <i class="fa fa-chevron-down"></i>
  </button>
  {{#if editing-cluster-label}}
    <input class="form-control editing" type="text" value="{{cluster.clusterLabel}}">
    <i class="fa fa-check edit confirm-editing" aria-hidden="true" {{action 'saveClusterLabel'}}></i>
    <i class="fa fa-times edit cancel-editing" aria-hidden="true" {{action 'editClusterLabel'}}></i>
  {{else}}
    <span class="cluster-label">{{cluster.clusterLabel}}</span>
    <i class="fa fa-pencil edit edit-cluster-label" aria-hidden="true" {{action 'editClusterLabel'}}></i>
  {{/if}}

</h4>
<p>{{cluster.documentCount}} documents</p>

{{#bs-collapse collapsed=collapsed}}
  <div class="row">
    {{#each cluster.aggregates as |aggregate index|}}
      {{#if aggregate.distribution}}
        <div class="{{concat aggregate.columnlg ' ' aggregate.columnsm}}">
          {{ component
              (concat "aggregate-" aggregate.type)
              field=aggregate.field
              distribution=aggregate.distribution
          }}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/bs-collapse}}