<div class="analysis-component-header rounded-top">Cluster</div>

<div class="analysis-component">

  {{#link-to 'dataset.subset' dataset cluster.subset.id class="btn btn-secondary btn-rounded pull-right" }}
    Inspect
  {{/link-to}}

  {{#if cluster.subset.id}}
    <button type="button" class="btn btn-light btn-rounded pull-right" data-toggle="modal"
      data-target="#subset-delete-modal" data-subsetid="{{cluster.subset.id}}">
      Delete
    </button>
  {{/if}}

  <h4 class="cluster-header">
    {{! button for toggling collapse }}
    <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
      aria-expanded="false" onclick={{action 'toggleInformation'}}>
      <i class="fa fa-chevron-down"></i>
    </button>
    {{#if editing-label}}
      Label:
      <input class="form-control editing title" type="text" value="{{cluster.label}}">
      <i class="fa fa-check edit confirm-editing" aria-hidden="true" {{action 'saveLabel'}}></i>
      <i class="fa fa-times edit cancel-editing" aria-hidden="true" {{action 'editLabel'}}></i>
    {{else}}
      <span class="cluster-label">Label: {{cluster.label}}</span>
      <i class="fa fa-pencil edit edit-cluster-label" aria-hidden="true" {{action 'editLabel'}}></i>
    {{/if}}

  </h4>
  <p class="cluster-metadata">
    <b>Number of documents:</b> {{cluster.documentCount}}
    {{#if cluster.avgSimProcent}}
      <b class="ml-2">Average similarity:</b> {{cluster.avgSimProcent}}%
    {{/if}}

    </p>

  {{#bs-collapse collapsed=collapsed}}
    <div class="row cluster-aggregates">
      {{#each aggregates as |aggregate index|}}
        {{#if aggregate.distribution}}
          <div class="{{concat aggregate.columnlg ' ' aggregate.columnsm}}">
            {{ component
                (concat "aggregate-" aggregate.type)
                field=aggregate.field
                distribution=aggregate.distribution
            }}
          </div>
        {{/if}}
      {{/each}}
    </div>

    <div class="row">
      <div class="col mt-1">
        <h5 class="aggregate-title">Sample Documents</h5>
        {{
          document-table
          documents=documents
          metadata=metadata
          changeLimit=(action 'changeLimit')
          changePage=(action 'changePage')
          sortByField=(action 'sortByField')
        }}
      </div>
    </div>
  {{/bs-collapse}}

</div>