<div class="analysis__header">
  Cluster Overview
  {{#if cluster.subset.id}}
    <span class="close-window my-auto ml-auto" data-toggle="modal"
      data-target="#subset-delete-modal" data-subsetid="{{cluster.subset.id}}">
      {{fa-icon 'times' }}
    </span>
  {{/if}}
</div>

<div class="analysis__container">

  <h4 class="overview__title">

    <span class="fa-lg pull-right">
      {{#link-to 'dataset.subset' dataset cluster.subset.id class="fa-layers inspect-subset-button" }}
        {{fa-icon 'search' transform='shrink-7' mask='circle' }}
      {{/link-to}}
    </span>

    {{! button for toggling collapse }}
    <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
      aria-expanded="false" onclick={{action 'toggleInformation'}}>
      {{fa-icon 'chevron-down'}}
    </button>

    <span class="overview__title-container">
      {{#if editing-label}}

        Label:
        <input class="form-control editing title" type="text" value="{{label}}">

        <span class="fa-layers edit" onclick={{action 'saveLabel'}}>
          {{fa-icon 'check-square'  class="edit confirm-editing" }}
        </span>

        <span class="fa-layers edit" onclick={{action 'editLabel'}}>
          {{fa-icon 'times-circle' class="edit cancel-editing" }}
        </span>

      {{else}}

        <span>Label: {{label}}</span>
        <span class="edit" onclick={{action 'editLabel'}}>
          {{fa-icon 'pen-square' class="edit overview__title--edit" }}
        </span>
      {{/if}}
    </span>
  </h4>


  <p class="overview__metadata">
    <b>Number of documents:</b> {{numberOfDocuments}}
    {{#if cluster.avgSimProcent}}
      <b class="ml-2">Average similarity:</b> {{cluster.avgSimProcent}}%
    {{/if}}
  </p>


  {{#bs-collapse collapsed=collapsed}}
    <div class="row overview__aggregates">
      {{#each aggregates as |aggregate index|}}
        {{#if aggregate.distribution}}
          <div class="{{concat aggregate.columnlg ' ' aggregate.columnsm}}">
            {{ component
                (concat "aggregate-" aggregate.type)
                field=aggregate.field
                distribution=aggregate.distribution
            }}
          </div>
        {{/if}}
      {{/each}}
    </div>

    <div class="row">
      <div class="col mt-1">
        <label class="aggregate__title">Sample Documents</label>
        {{
          document-table
          documents=documents
          metadata=metadata
          changeLimit=(action 'changeLimit')
          changePage=(action 'changePage')
          sortByField=(action 'sortByField')
        }}
      </div>
    </div>
  {{/bs-collapse}}

</div>