{{#if cluster.subset.created}}
  {{#link-to 'dataset.subset' dataset cluster.subset.id class="btn btn-secondary pull-right" }}
    Go to Subset
  {{/link-to}}
{{else if cluster.documentCount}}
  <button class="btn btn-primary pull-right" data-toggle="modal"
    data-target="#subset-create-modal"
    onclick={{action 'updateSubsetCreationParams'}}
  >
    Create Subset
  </button>
{{/if}}

<h4 class="cluster-header">
  {{! button for toggling collapse }}
  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    <i class="fa fa-chevron-down"></i>
  </button>
  {{#if editing-label}}
    <input class="form-control editing" type="text" value="{{cluster.label}}">
    <i class="fa fa-check edit confirm-editing" aria-hidden="true" {{action 'saveLabel'}}></i>
    <i class="fa fa-times edit cancel-editing" aria-hidden="true" {{action 'editLabel'}}></i>
  {{else}}
    <span class="cluster-label">{{cluster.label}}</span>
    <i class="fa fa-pencil edit edit-cluster-label" aria-hidden="true" {{action 'editLabel'}}></i>
  {{/if}}

</h4>
<p>{{cluster.documentCount}} documents</p>

{{#bs-collapse collapsed=collapsed}}
  <div class="row">
    {{#each cluster.aggregates as |aggregate index|}}
      {{#if aggregate.distribution}}
        <div class="{{concat aggregate.columnlg ' ' aggregate.columnsm}}">
          {{ component
              (concat "aggregate-" aggregate.type)
              field=aggregate.field
              distribution=aggregate.distribution
          }}
        </div>
      {{/if}}
    {{/each}}
  </div>
  
  <div class="row">
    <div class="col mt-1">
      <h6>Sample Documents</h6>
      {{
        document-table
        documents=documents
        metadata=metadata
        changeLimit=(action 'changeLimit')
        changePage=(action 'changePage')
        sortByField=(action 'sortByField')
      }}
    </div>
  </div>
{{/bs-collapse}}