<div class="container-fluid">
  <!-- Title -->
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Upload Dataset</h2>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->

{{#if model}}

  <!-- Field options selection -->
  {{ dataset-field-list
      file=model.file
      dataset=model.dataset
      fieldList=model.fieldList
      resetList=(route-action "resetModel")
      submitDataset=(route-action "submitDataset")
  }}

{{else}}

  <!-- File Upload section -->
  <div class="container-fluid">
    <div class="row">

      <!-- Dropzone -->
      <div class="col-lg-offset-2 col-lg-8">
        {{#file-dropzone name="dataset" as |dropzone queue|}}
          <p class="dropzone">
            {{#if dropzone.active}}
              {{#if dropzone.valid}}
                Drop to upload
              {{else}}
                Invalid
              {{/if}}
            {{else if queue.files.length}}
              Uploading {{queue.files.length}} files. ({{queue.progress}}%)
            {{else}}
                {{#if dropzone.supported}}
                  Drag and drop dataset onto this area to upload them or
                {{/if}}
                {{#file-upload name="dataset"
                              accept=["text/plain", "text/csv"]
                              multiple=false
                              onfileadd=(route-action "readDataset")}}
                  <a id="upload-dataset" tabindex=0>Add a Dataset.</a>
                {{/file-upload}}
            {{/if}}
          </p>
        {{/file-dropzone}}
      </div><!-- .col-lg-offset-2.col-lg-8 -->

    </div><!-- .row -->
  </div><!-- .container-fluid -->

{{/if}}




