<!-- Header -->
<thead>
  {{ document-table-header fields=fields sortByField=sortByField }}
</thead>
<!-- Body -->
<tbody>
  {{#if documents.loading }}
    <tr class="loading">
      <td colspan="{{loading-row-width}}">
        <div class="loading">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Getting documents...</span>
        </div>
      </td>
    </tr>
  {{else if documents.length}}
    <!-- if documents are available show them -->
    {{#each documents as |document| }}
      {{ document-table-row             document=document fields=fields }}
      {{ document-table-row-information document=document fields=fields }}
    {{/each}}
  {{else}}
     <tr>
      <td colspan="{{loading-row-width}}">
        <p>No documents found for given query parameters</p>
      </td>
    </tr>
  {{/if}}
</tbody>