<div class="analysis">
  <div class="analysis-component-header rounded-top">Query</div>
  <div class="analysis-component">
    {{
      document-table
      documents=model.documents
      metadata=model.metadata
      changeQuery=(route-action 'changeQuery')
      changeLimit=(route-action 'changeLimit')
      changePage=(route-action 'changePage')
      sortByField=(route-action 'sortByField')
    }}
  </div>
</div>



<div class="row">
  <div class="col analysis">
    {{#if model.documents.length}}
      {{
        analysis-method-aggregate-subset
        method=model.method
      }}
    {{else}}
      <div class="analysis-component">
        <p class="message">No query aggregates for query results</p>
      </div>
    {{/if}}
  </div>
</div>

{{
  subset-create-modal
  id="subset-create-modal"
  parameters=model.parameters
  createSubset=(route-action 'saveResults')
}}

{{outlet}}