<div class="analysis">
  <div class="analysis__header">Query Dashboard</div>
  <div class="analysis__container">
    {{
      document-table
      documents=model.documents
      metadata=model.metadata
      subset=model.subset
      moveDocuments=(route-action 'moveDocuments')
      changeQuery=(route-action 'changeQuery')
      changeLimit=(route-action 'changeLimit')
      changePage=(route-action 'changePage')
      sortByField=(route-action 'sortByField')
    }}
  </div>{{! analysis__container }}
</div>{{! analysis }}



<div class="row">
  <div class="col">

    {{#if model.documents.length}}
      {{
        analysis-method-aggregate-subset
        method=model.method
      }}
    {{else}}
      <div class="analysis__container">
        <p class="message">No query aggregates for query results</p>
      </div>
    {{/if}}

  </div>{{! col }}
</div>{{! row }}

{{
  subset-create-modal
  id="subset-create-modal"
  parameters=model.parameters
  createSubset=(route-action 'saveResults')
}}

{{outlet}}