{{
  document-table
  documents=model.documents
  metadata=model.metadata
  changeQuery=(route-action 'changeQuery')
  changeLimit=(route-action 'changeLimit')
  changePage=(route-action 'changePage')
  sortByField=(route-action 'sortByField')
}}

<div class="row mt-5">
  <div class="col">
    <h5>Query Aggregates</h5>
    {{#if model.documents.length}}
      {{
        analysis-method-aggregate-subset
        method=model.method
      }}
    {{else}}
      <p>No query aggregates for query results</p>
    {{/if}}
  </div>
</div>

{{
  create-subset-modal
  id="subset-create-modal"
  parameters=model.parameters
  createSubset=(route-action 'saveResults')
}}

{{outlet}}