<div class="{{if maximize "analysis__header" "aggregate__title"}}">
  {{ field }} histogram

  <span class="ml-auto my-auto save-graph fa-fw" {{action 'saveImage'}}>
    {{fa-icon 'save' size='lg'}}
  </span>

  <span class="ml-2 my-auto fa-fw" {{action 'maximizeComponent'}}>
    {{#unless maximize}}
      {{fa-icon 'expand' size='lg' class="expand-graph" }}
    {{else}}
      {{fa-icon 'times' size='lg' class="reduce-graph" }}
    {{/unless}}
  </span>

</div>

{{ graph-histogram distribution }}