<!-- document selection checkbox -->
<td>
  {{ checkbox-select
    checkboxId=(concat "checkbox-" index)
    checked=selected
    checkboxAction=(action 'selectDocument')
  }}
</td>
<!-- document id -->
<td class="index">{{ index }}</td>
<!-- document values -->
{{#each docValues as |value|}}
  <td class="{{ value.field }}">{{ value.value }}</td>
{{/each}}

{{yield}}