<select class="field-feature-options pull-right"
  onchange={{action "changeFeaturesType" value="target.value"}}
  disabled={{if included '' 'disabled'}}>
  {{#each featureOptions as |featureOption| }}
    <option value='{{featureOption}}'>{{featureOption}}</option>
  {{/each}}
</select>
<span class="include-field pull-right">
  <label class="include-label">include</label>
  {{ checkbox-select class="pull-right"
    checkboxId=(concat "field-feature-" index)
    checkboxAction=(action "toggleFeatureInclusion")
    checked=included
  }}
</span>
<div class="field-feature">
  {{features.field}} features
</div>
{{#if included }}
  {{ component (concat "feature-options-" selectedFeatureOption)
    features=features.features
  }}
{{/if}}