<div id="structure-method-{{method.id}}">

  {{#if ontology.length }}
    {{! button for toggling collapse }}
    <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
      aria-expanded="false" onclick={{action 'toggleBranch'}}>
      <span class="fa-layers">
        {{fa-icon 'chevron-down'}}
      </span>
    </button>
  {{else}}
    {{! placeholder for the toggle }}
    <span class="tree-structure__button-placeholder">
      <span class="loading-pulse"></span>
    </span>
  {{/if}}

  {{! method type/label }}
  {{ method.label }}

  {{#if selectedFields}}
    <small>
      {{#if clustering-k}}
        k={{clustering-k}}
      {{/if}}
      {{initialQuery}}
      ({{ selectedFields }})</small>
  {{/if}}

  <small class="ml-1 delete" id="delete-method-{{method.id}}"
    data-toggle="modal"
    data-target="#method-delete-modal"
    data-methodid="{{method.id}}">
    <span class="fa-layers fa-fw">
      {{fa-icon 'times'}}
    </span>
  </small>
</div>

{{#bs-collapse collapsed=collapsed class="tree-branch"}}
  {{#each ontology as |onto| }}
    {{
      structure-subset
      subset=onto.subset
      usedBy=onto.subset.usedBy
    }}
  {{/each}}
{{/bs-collapse}}