{{
  dataset-header
  dataset=model
  deleteDataset=(route-action "deleteDataset")
}}

<div class="container-fluid">
  <div class="row">
    <div class="offset-lg-1 col-lg-11">

      <div class="row">
        <div class="col-md-4 col-lg-3">
          <!-- dataset navigation -->
          <div class="dataset-navigation">
            <h3 class="description-header">Structure</h3>
            <!-- The tree structure -->
            <ul class="tree-structure">
              {{
                structure-subset
                subset=model.hasSubsets.firstObject
                usedBy=model.hasSubsets.firstObject.usedBy
                numberOfSubsets=model.hasSubsets.length
                numberOfMethods=model.hasMethods.length
              }}
            </ul>
          </div><!-- .dataset-navigation -->
        </div><!-- col-sm-5 col-md-4 col-lg-3 -->

        <!-- Subset content -->
        <div class="col-md-8 col-lg-9">
          {{outlet}}
        </div><!-- .col-sm-7 .col-md-8 .col-lg-9 -->
      </div>

    </div><!-- .col-sm-12.offset-lg-1.col-lg-10 -->
  </div><!-- .row -->
</div><!-- .container-fluid -->

{{
  subset-delete-modal
  id="subset-delete-modal"
  deleteSubset=(route-action "deleteSubset")
}}

{{
  method-delete-modal
  id="method-delete-modal"
  deleteMethod=(route-action "deleteMethod")
}}