<div class="{{if maximize "analysis__header" "aggregate__title"}}">
  {{ field }} timeline
  <i class="fa {{unless maximize 'fa-arrows-alt' 'fa-times'}} ml-auto my-auto"
    aria-hidden="true" {{action 'maximizeComponent'}}></i>
</div>
{{ graph-timeline distribution }}