<div class="row subset-information">
  <div class="col-lg-12">

    <div class="row">
      <div class="col-lg-10">
        <h1>{{ model.label }}</h1>

        <div class="row">
          <div class="col-lg-4">
            <p class="subset-basic-information">
              <span class="dataset-documents-number">{{ model.documentCount }} documents</span><br/>
              Created using: <span class="subset-creation-method">{{if model.resultedIn model.resultedIn.methodType 'none' }}</span><br/>
              Derived from: <span class="subset-parent">{{if model.resultedIn model.resultedIn.appliedOn.label 'none' }}</span><br/>
            </p>
          </div>
          {{#if model.description }}
            <div class="col-lg-6">
              <h4>Description</h4>
              <p class="dataset-description">{{ model.description }}</p>
            </div>
          {{/if}}
        </div>

      </div>
    </div>

    <div class="row subset-navigation">
      <div class="col-lg-12">

      {{#link-to "dataset.subset.statistics" model class="btn btn-primary"}}Statistics{{/link-to}}
      {{#link-to "dataset.subset.documents" model class="btn btn-primary"}}Documents{{/link-to}}

      </div>
    </div>
  </div>
</div>



<!-- subset statistics and documents -->
<div class="row">
  <div class="col-lg-12">
    {{outlet}}
  </div>
</div>
