<h3 class="method-type text-capitalize">
  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    <i class="fa fa-chevron-down"></i>
  </button>
  Visualization {{visualizationType}}
</h3>

{{#bs-collapse collapsed=collapsed}}

  <div class="analysis-component-header rounded-top">Visualization</div>
  <div class="analysis-component">
    {{ graph-radial-tree subset=subset usedBy=subset.usedBy }}
  </div>
{{/bs-collapse}}

{{yield}}
