<!-- Modal -->
<div class="modal fade" id="addNewDataset" tabindex="-1" role="dialog" aria-labelledby="newDatasetLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- modal title -->
        <h4 class="modal-title" id="newDatasetLabel">upload dataset</h4>
      </div>
      <!-- file upload method -->
      <div class="modal-body">
        {{#file-dropzone name="dataset" as |dropzone queue|}}
          <p class="dropzone">
            {{#if dropzone.active}}
              {{#if dropzone.valid}}
                Drop to upload
              {{else}}
                Invalid
              {{/if}}
            {{else if queue.files.length}}
              Uploading {{queue.files.length}} files. ({{queue.progress}}%)
            {{else}}
                {{#if dropzone.supported}}
                  Drag and drop dataset onto this area to upload them or
                {{/if}}
                {{#file-upload name="dataset"
                              accept="text/plain,text/csv"
                              multiple=false
                              onfileadd=(route-action "uploadData")}}
                  <a id="upload-dataset" tabindex=0>Add a Dataset.</a>
                {{/file-upload}}
            {{/if}}
          </p>
        {{/file-dropzone}}

        <p id="file-content"></p>
      </div>
      <!-- modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{yield}}