<h3 class="analysis__method-type">

  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    <i class="fa fa-chevron-down"></i>
  </button>

  Clustering

  <button type="button" class="btn btn-light rounded-circle pull-right" data-toggle="modal"
    data-target="#method-delete-modal" data-methodid="{{method.id}}">
    <span aria-hidden="true">×</span>
  </button>

</h3>

<div class="row">
  <div class="col">

    <span class="analysis-parameter__name">Number of clusters: </span>
    <span class="analysis-parameter__value">{{method.parameters.method.k}}</span>

    <span class="analysis-parameter__name">Type: </span>
    <span class="analysis-parameter__value">
      {{method.parameters.method.clusteringType}}
      ({{selectedFields}})
    </span>

  </div>{{! col }}
</div>{{! row }}

{{#bs-collapse collapsed=collapsed}}

  {{#each method.result.clusters as |cluster index|}}
    {{#unless cluster.subset.deleted}}

      <div class="row">
        <div class="col">
          {{ analysis-clustering-kmeans-cluster
            dataset=dataset
            method=method
            cluster=cluster
            index=index
          }}
        </div>{{! col }}
      </div>{{! row }}

    {{/unless}}
  {{/each}}

{{/bs-collapse}}

{{yield}}