<h3 class="method-type">
  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    <i class="fa fa-chevron-down"></i>
  </button>

  Clustering
</h3>

<div class="row">
  <div class="col-md-12 method-parameters">

    <div class="parameter">
      <span class="parameter-label">Type of clustering: </span>
      <span class="parameter-value">
        {{method.parameters.method.clusteringType}}
        ({{selectedFields}})
        </span>
    </div>

    <div class="parameter">
      <span class="parameter-label">Number of clusters: </span>
      <span class="parameter-value">{{method.result.clusters.length}}</span>
    </div>

  </div>
</div>

{{#bs-collapse collapsed=collapsed}}
  <div class="clusters">
    {{#each method.result.clusters as |cluster index|}}
      <div class="row">
        <div class="col-lg-12">
          {{ analysis-clustering-kmeans-cluster dataset=dataset method=method cluster=cluster index=index }}

          {{ create-subset-modal-from-method id=(concat "create-subset-kmeans-" method.id "-" index)
            methodId=method.id clusterId=index cluster=cluster
            createSubset=createSubset type="KMeans Clustering"}}

        </div><!-- .col-lg-12 -->
      </div><!-- .row -->

    {{/each}}
  </div>
{{/bs-collapse}}

{{yield}}