<div class="row">
  <div class="col-sm-4">

      <div class="form-group">
        <label class="feature-selection-label parameter">Weight</label>
        <select class="form-control" onchange={{action 'changeWeightValue' value='target.value'}}>
          {{#each weightOptions as |weight index|}}
            <option value='{{index}}'>{{weight}}</option>
          {{/each}}
        </select>
      </div>

  </div><!-- .col-lg-4 -->

  <div class="col-sm-4">

      <div class="form-group">
        <label class="feature-selection-label parameter">Normalize</label>
        <select class="form-control" onchange={{action 'changeNormalizeValue' value='target.value'}}>
          {{#each normalizeOptions as |normalize index|}}
            <option value='{{index}}'>{{normalize}}</option>
          {{/each}}
        </select>
      </div>

  </div><!-- .col-lg-4 -->
</div><!-- .row -->