<div class="row">
  <div class="col">

    <div class="dataset-label">
      <div class="row form-group">
        <label class="col-md-2 col-form-label" for="dataset-label">Dataset Name</label>
        <div class="col-md-10">
          {{
            input 
            class="form-control editing emphasize" 
            value=dataset.label 
            placeholder="Add dataset name"
          }}
        </div>
      </div>
    </div>{{! .dataset-label }}

    <div class="dataset-description">
      <div class="row form-group">
        <label class="col-md-2 col-form-label" for="dataset-description">Description</label>
        <div class="col-md-10">
          {{
            textarea 
            class="form-control editing" 
            rows="5" 
            value=dataset.description
            placeholder="Add dataset description (optional)"
          }}
        </div>
      </div>
    </div>{{! .dataset-description }}

  </div>{{! .col}}
</div>{{! .row }}

<div class="row">
  <div class="col document-table">

    <table class="table">
      <thead>
        <tr>
          <th style="width:50%">field name</th>
          <th style="width:40%" class="center">type</th>
          <th style="width:10%" class="center">included</th>
        </tr>
      </thead>
      <tbody>
        {{#each fieldList as |field index|}}
          {{
            dataset-upload-field 
            fieldList=fieldList 
            name=field.name 
            type=field.type 
            included=field.included 
            invalid=field.invalid 
            index=index
          }}
        {{/each}}
      </tbody>
    </table>

  </div>{{! .col }}
</div>{{! .row }}

<div class="row">
  <div class="col">
    <button {{action submitDataset}} class="btn btn-primary pull-right">Save Dataset</button>
    <button {{action resetList}} class="btn btn-light pull-right">Cancel</button>
    <div id="submittion-error" class="pull-right">Invalid field names</div>
  </div>{{! .col }}
</div>{{! .row }}

{{yield}}