<div class="row">
  <div class="col">

    {{! the dataset name }}
    <div class="dataset-upload-container__params">
      <div class="row form-group">
        <label class="col-md-2 col-form-label">Dataset Name</label>
        <div class="col-md-10">
          {{
            input
            value=dataset.label
            class="form-control editing emphasize"
            placeholder="Add dataset name"
          }}
        </div>
      </div>
    </div>

    {{! the dataset description }}
    <div class="dataset-upload-container__params">
      <div class="row form-group">
        <label class="col-md-2 col-form-label">Description</label>
        <div class="col-md-10">
          {{
            textarea
            rows="5"
            class="form-control editing"
            value=dataset.description
            placeholder="Add dataset description (optional)"
          }}
        </div>
      </div>
    </div>

  </div>{{! .col}}
</div>{{! .row }}

<div class="row">
  <div class="col">

    {{! setup the dataset field selection }}
    <table class="table dataset-upload-container__table">

      <thead>
        <tr>
          <th style="width:50%">field name</th>
          <th style="width:40%" class="center">type</th>
          <th style="width:10%" class="center">included</th>
        </tr>
      </thead>

      <tbody>
        {{#each fieldList as |field index|}}
          {{
            dataset-upload-field
            fieldList=fieldList
            name=field.name
            type=field.type
            included=field.included
            invalid=field.invalid
            index=index
          }}
        {{/each}}
      </tbody>

    </table>

  </div>{{! .col }}
</div>{{! .row }}

<div class="row">
  <div class="col">
    {{! setup the dataset upload actions }}
    <div class="dataset-upload-container__actions">
      <span class="dataset-upload-container__actions--warning">Invalid field names</span>
      <button {{action resetList}} class="btn btn-light btn-rounded">Cancel</button>
      <button {{action submitDataset}} class="btn btn-primary btn-rounded">Save Dataset</button>
    </div>
  </div>{{! .col }}
</div>{{! .row }}

{{yield}}