<div class="row">
  <div class="col-lg-offset-2 col-lg-8">

    <div class="form-inline dataset-name">
      <div class="form-group">
        <label>Dataset Name:</label>
        <input type="text" id="dataset-name" class="form-control" oninput={{action 'changeDatasetName'}} value={{dataset.name}}>
      </div>
    </div><!-- .dataset-name -->

    <div class="stats">
      {{dataset.numDocs}} documents, {{dataset.size}} bytes
    </div>

  </div><!-- .col-lg-offset-2.col-lg-8 -->
</div><!-- .row -->

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">

    <table class="table">
      <thead>
        <tr>
          <th>field name</th>
          <th class="center">type</th>
          <th class="center">included</th>
        </tr>
      </thead>
      <tbody>
        {{#each fieldList as |field index|}}
          {{dataset-field field=field.name type=field.type included=field.included index=index}}
        {{/each}}
      </tbody>
    </table>

  </div><!-- .col-lg-offset-2.col-lg-8 -->
</div><!-- .row -->

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <button {{action submitDataset file }} class="btn btn-primary pull-right">Save Dataset</button>
    <button {{action resetList}} class="btn btn-default pull-right">Cancel</button>
  </div><!-- .col-lg-offset-2.col-lg-8 -->
</div><!-- .row -->

{{yield}}