<h3 class="analysis__method-type">

  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    {{fa-icon 'chevron-down'}}
  </button>

  Visualization {{visualizationType}}

</h3>

{{yield}}
