<h3 class="analysis__method-type">

  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    {{fa-icon 'chevron-down'}}
  </button>

  Clustering

</h3>

<div class="row">
  <div class="col">
    <div class="analysis-parameter__container">

      <span class="analysis-parameter__name">Number of Clusters: </span>
      <span class="analysis-parameter__value">{{clusters.length}}</span>

      <span class="analysis-parameter__name">Type: </span>
      <span class="analysis-parameter__value">
        {{method.parameters.method.clusteringType}}
        ({{selectedFields}})
      </span>

      <span class="analysis-parameter__name">Stopwords: </span>
      <span class="analysis-parameter__value">
        {{stopwords}}
      </span>

    </div>{{! .analysis-parameter__container }}
  </div>
</div>

{{#bs-collapse collapsed=collapsed}}
    {{#each clusters as |cluster index|}}

      <div class="row">
        <div class="col">

          <div class="overview">

            <div class="analysis__header">Cluster Overview</div>

            <div class="analysis__container">
              <div class="pull-right placeholder placeholder__subset-button"></div>

              <h5 class="overview__title">
                <p class="placeholder"></p>
              </h5>

              <p class="placeholder placeholder__document-number"></p>

              <div class="row">
                {{#each cluster as |placeholder index|}}
                  <div class="content {{concat placeholder.columnlg ' ' placeholder.columnsm}}">
                    <h5 class="placeholder placeholder__title"></h5>
                    <div class="graph placeholder"></div>
                  </div>
                {{/each}}
              </div>
              <div class="row">
                <div class="col">
                  <div class="placeholder placeholder__document-table"></div>
                </div>
              </div>
            </div>

          </div>{{! overview }}

        </div>{{! col }}
      </div>{{! row }}

    {{/each}}
{{/bs-collapse}}

{{yield}}
