<h3 class="method-type">
  <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
    aria-expanded="false" onclick={{action 'toggleInformation'}}>
    <i class="fa fa-chevron-down"></i>
  </button>
  Manual Labelling
</h3>

<div class="row">
  <div class="col-md-6 method-parameters">

    <div class="parameter">
      <span class="parameter-label">Initial query: </span>
      <span class="parameter-value">
        {{method.parameters.initQuery}}
      </span>
    </div>

    <div class="parameter">
      <span class="parameter-label">Selected fields: </span>
      <span class="parameter-value">
        {{selectedFields}}
      </span>
    </div>

  </div>
</div>

{{#bs-collapse collapsed=collapsed}}
  <div class="clusters">
    {{#each clusters as |cluster index|}}
      <div class="row">
        <div class="col-lg-12">
          <div class="cluster-content">

            <div class="analysis-component-header rounded-top">Class Overview</div>

            <div class="analysis-component">
              <div class="subset-button pull-right placeholder"></div>
              <div class="subset-button pull-right placeholder mr-2"></div>

              <h5 class="cluster-header">
                <p class="placeholder"></p>
              </h5>

              <p class="document-number placeholder"></p>

              <div class="row">
                {{#each cluster as |placeholder index|}}
                  <div class="content {{concat placeholder.columnlg ' ' placeholder.columnsm}}">
                    <h5 class="field-title placeholder"></h5>
                    <div class="graph placeholder"></div>
                  </div>
                {{/each}}
              </div>
            </div>

          </div><!-- .cluster-content -->
        </div><!-- .col-lg-12 -->
      </div><!-- .row -->

    {{/each}}
  </div>
{{/bs-collapse}}

{{yield}}
