<!-- empty data table -->
<td class="clickable" data-toggle="collapse" data-target="#{{collapseId}}"></td>

<!-- document values content -->
<td colspan="{{numberOfColumns}}" class="clickable" data-toggle="collapse"
    data-target="#{{collapseId}}">

  <div class="collapse document-values" id="{{collapseId}}">

    <!-- Fill the container with documents -->
    {{#each documentValues as |value|}}
      <p>
        <span class="subset field-value">{{value.field}}</span>
        <span>{{value.value}}</span>
      </p>
    {{/each}}

  </div><!-- .collapse -->
</td>