<!-- empty data table -->
<td class="clickable" data-toggle="collapse" data-target="#{{collapseId}}"></td>

<!-- document values content -->
<td colspan="{{rowWidth}}" class="clickable" data-toggle="collapse"
    data-target="#{{collapseId}}">

  <div class="collapse" id="{{collapseId}}">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <!-- Fill the container with documents -->
          {{#each docValues as |value|}}
            <label class="subset">{{value.field}}</label>
            <p>{{value.value}}</p>
          {{/each}}

        </div><!-- .col-lg-12 -->
      </div><!-- .row -->
    </div><!-- .container-fluid -->

  </div><!-- .collapse -->
</td>