<div class="container-fluid">
  <!-- Navigation bar top -->
  <a class="navbar-brand">InfoMiner</a>

  <!-- Brand and toggle get grouped for better mobile display -->
  <button type="button" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#website-header" aria-controls="website-header" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="website-header">

    <ul class="navbar-nav mt-auto mr-auto">
      <li class="nav-item">
        {{#link-to "datasets" class="nav-link btn rounded"}}
          {{fa-icon 'database' fixedWidth=true }} datasets
        {{/link-to}}
      </li>
    </ul>

    {{#if session.isAuthenticated}}
      <div class="nav-item user-info dropdown">
        <!-- user information and logout -->
        <a class="nav-link dropdown-toggle rounded" id="accountDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-exanded="false">
          <img src="{{ session.data.authenticated.userImage }}"
            onError="this.src='images/login/blank-profile.png'" alt="user image" height="30" width="30">
          {{ session.data.authenticated.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" {{action 'invalidateSession'}}>Logout</a>
        </div>
      </div>
    {{else}}
      <div class="nav-item login">
        {{#link-to "login" class="nav-link btn rounded"}}
          Sign In
        {{/link-to}}
      </div>
    {{/if}}

  </div><!-- .navbar-collapse -->
</div>
{{yield}}