<foreignObject x={{buttonPosition}} class="histogram-options">
    <div class="d-inline-flex">
      <button class="btn btn-{{if (eq type 'linear') 'secondary' 'light'}} btn-sm"
        {{action 'changeType' 'linear'}}>linear</button>
      <button class="btn btn-{{if (eq type 'log') 'secondary' 'light'}} btn-sm"
        {{action 'changeType' 'log'}}>log</button>
    </div>
</foreignObject>