<div class="row document-table">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 table-options">
        {{#if changeQuery}}
          {{ query-options fields=fields query=query action=changeQuery }}
        {{/if}}
        {{! document limit selection }}
        <span>
          Show:
          <select id="table-show-limit" onchange={{action 'changeLimit'}}>
            {{#each possibleLimits as |limit|}}
              <option selected={{if limit.selected "selected"}}>{{ limit.value }}</option>
            {{/each}}
          </select>
        </span>

      </div>
    </div>

    <table class="table table-hover">
      {{! table header }}
      <thead>
        <tr>
          {{!-- <th class="checkbox-header" style="width:1%;"></th> --}}
          {{#each fields as |field index|}}
            <th class="{{field.name}}" style={{columnWidth}} onclick={{if field.sortable (action 'sortBy' index)}}>
              {{field.name}} 
              {{#if field.sortable }}
                <i class="pull-right fa fa-sort{{if field.sortType (concat "-" field.sortType)}}" aria-hidden="true"></i>
              {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      {{! table body }}
      <tbody>
        {{#if documents.length}}
          {{! if documents are available show them }}
          {{#each documents as |document| }}
            {{ document-table-row             document=document fields=fields query=query }}
            {{ document-table-row-information document=document fields=fields query=query }}
          {{/each}}
        {{else}}
          <tr>
            <td colspan="{{loading-row-width}}">
              <p>No documents found for given query parameters</p>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>

    {{! indeces of displayed documents and navigation bar }}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <!-- which documents are shown -->
        <div class="document-display-info">
          <p>Displaying {{startDisplay}}-{{endDisplay}} of {{count}}</p>
        </div>
      </div>{{! .col-xs-12.col-sm-12.col-md-3 }}

      <div class="col-xs-12 col-sm-12 col-md-6">
        {{! navigation }}
        <div class="navigation-buttons text-center">
          {{! Go to first page }}
          <button class="btn btn-secondary {{if onFirstPage 'disabled'}}"
            onclick={{if onFirstPage null (action 'getDocuments' firstPage)}}>
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </button>

          {{! Go to previous page }}
          <button class="btn btn-secondary {{if onFirstPage 'disabled'}}"
            onclick={{if onFirstPage null (action 'getDocuments' prevPage)}}>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button>

          {{! Set buttons to navigate through pages }}
          {{#each quickSelect as |quickPage|}}
            <button class="btn btn-tertiary {{if quickPage.active 'active'}}"
              onclick={{action 'getDocuments' quickPage.pageN}}
            >
              {{quickPage.pageN}}
            </button>
          {{/each}}

          {{! Go to next page }}
          <button class="btn btn-secondary {{if onLastPage 'disabled'}}"
            onclick={{if onLastPage null (action 'getDocuments' nextPage)}}>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>

          {{! Go to last page }}
          <button class="btn btn-secondary {{if onLastPage 'disabled'}}"
            onclick={{if onLastPage null (action 'getDocuments' lastPage)}}>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>{{! .col-xs-12.col-sm-12.col-md-6 }}

  </div>{{! .row }}
    {{!-- {{ document-table-create-subset createSubset=createSubset }} --}}
</div>

{{yield}}