<div class="row document-table">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 table-options">
        {{ query-options fields=fields query=query action=changeQuery }}
        {{ pagination-limit limit=pagination.limit changeLimit=changeLimit }}
      </div>
    </div>
    {{ document-table-content documents=documents limit=pagination.limit fields=fields sortByField=sortByField query=query }}
    {{ pagination-navigation documents=documents pagination=pagination changePage=changePage }}
  </div>
    {{!-- {{ document-table-create-subset createSubset=createSubset }} --}}
</div>

{{yield}}