<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12 table-options">
      {{#if changeQuery}}
        {{ query-options fields=fields query=query action=changeQuery }}
      {{/if}}

      <span class="table-options__show">
        Show
        <select class="rounded" id="table-show-limit" onchange={{action 'changeLimit'}}>
          {{#each possibleLimits as |limit|}}
            <option selected={{if limit.selected "selected"}}>{{ limit.value }}</option>
          {{/each}}
        </select>
        documents
      </span>

      <span class="dropdown pull-right">
        <button class="btn btn-secondary {{unless changeQuery 'btn-sm'}} dropdown-toggle btn-rounded" type="button" data-toggle="dropdown"
          id="show-columns-{{elementId}}" aria-haspopup="true" aria-expanded="false">
          Show columns
          <span class="number-circle">{{numberOfFieldsShown}}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="show-columns-{{elementId}}">
          {{#each fields as |field index|}}
            <div class="dropdown-item no-background">
              {{
                checkbox-select
                checkboxId=(concat "table-" elementId "-field-selection-checkbox-" index)
                checked=field.showInTable
              }}
              <label class="query-field-selection">{{field.name}}</label>
            </div>
          {{/each}}
        </div>
      </span>

      {{#if documentActionsEnabled}}
        <span class="dropdown pull-right">
          <button class="btn btn-secondary {{unless changeQuery 'btn-sm'}} dropdown-toggle btn-rounded" type="button" data-toggle="dropdown"
            id="document-actions-{{elementId}}" aria-haspopup="true" aria-expanded="false">
            Document actions
          </button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="document-actions-{{elementId}}">

            {{#if siblingSubsets }}
              <h6 class="dropdown-header">Move To subset</h6>
              {{#each siblingSubsets as |sibling index|}}
                <a class="dropdown-item documents__move" onclick={{action 'moveDocuments' sibling.id}}>{{sibling.label}}</a>
              {{/each}}
              <div class="dropdown-divider"></div>
            {{/if}}

            <a class="dropdown-item documents__delete" onclick={{action 'deleteDocuments'}}>
              Delete from subset
            </a>
          </div>
        </span>
      {{/if}}

    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover fixed">
      {{! table header }}
      <thead>
        <tr>
          {{#if documentActionsEnabled}}
            <th class="checkbox-header" style="width:1%;"></th>
          {{/if}}

          {{#each fields as |field index|}}
            {{#if field.showInTable}}
              <th class="{{field.name}} header" scope="col" style="{{columnWidth}}" onclick={{if field.sortable (action 'sortBy' index)}}>
                {{field.name}}
                {{#if field.sortable }}
                  {{fa-icon (if field.sorting_order (concat "sort-amount-" field.sorting_order) 'sort') class="sorting" fixedWidth=true }}
                {{/if}}
              </th>
            {{/if}}
          {{/each}}

        </tr>
      </thead>
      {{! table body }}
      <tbody>
        {{#if documents.length}}
          {{! if documents are available show them }}
          {{#each documents as |document| }}
            {{ document-table-row             tableId=elementId document=document fields=fields query=query documentActionsEnabled=documentActionsEnabled }}
            {{ document-table-row-information tableId=elementId document=document fields=fields query=query documentActionsEnabled=documentActionsEnabled }}
          {{/each}}
        {{else if (eq documents.length 0)}}
          <tr>
            <td colspan="{{loading-row-width}}">
              <p>No documents found</p>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="{{loading-row-width}}">
              <div class="loading">
                {{fa-icon 'sync-alt' spin=true fixedWidth=true class="page-loader"}}
              </div>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  {{! indeces of displayed documents and navigation bar }}
  <div class="row">
    <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">
      {{! which documents are shown }}
      <div class="table-display-info">
        Displaying {{startDisplay}}-{{endDisplay}} of {{count}}
      </div>
    </div>{{! .col-xs-12.col-sm-12.col-md-3 }}

    <div class="col-lg-6">
      {{! navigation }}
      <div class="navigation-buttons text-center">
        {{! Go to first page }}
        <button class="btn btn-secondary rounded-left {{if onFirstPage 'disabled'}}"
          onclick={{if onFirstPage null (action 'getDocuments' firstPage)}}>
          {{fa-icon 'angle-double-left'}}
        </button>

        {{! Go to previous page }}
        <button class="btn btn-secondary {{if onFirstPage 'disabled'}}"
          onclick={{if onFirstPage null (action 'getDocuments' prevPage)}}>
          {{fa-icon 'angle-left'}}
        </button>

        {{! Set buttons to navigate through pages }}
        {{#each quickSelect as |quickPage|}}
          <button class="btn btn-tertiary {{if quickPage.active 'active'}}"
            onclick={{action 'getDocuments' quickPage.pageN}}>
            {{quickPage.pageN}}
          </button>
        {{/each}}

        {{! Go to next page }}
        <button class="btn btn-secondary {{if onLastPage 'disabled'}}"
          onclick={{if onLastPage null (action 'getDocuments' nextPage)}}>
          {{fa-icon 'angle-right'}}
        </button>

        {{! Go to last page }}
        <button class="btn btn-secondary rounded-right {{if onLastPage 'disabled'}}"
          onclick={{if onLastPage null (action 'getDocuments' lastPage)}}>
          {{fa-icon 'angle-double-right'}}
        </button>
      </div>
    </div>

  </div>{{! .col-xs-12.col-sm-12.col-md-6 }}

</div>{{! .row }}

{{yield}}