<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12 table-options">
      {{#if changeQuery}}
        {{ query-options fields=metadata.fields query=query action=changeQuery }}
      {{/if}}

      <div class="d-flex">
        <span class="table-options-show mr-auto">
          Show
          <select class="rounded" id="table-show-limit" onchange={{action 'changeLimit'}}>
            {{#each possibleLimits as |limit|}}
              <option selected={{if limit.selected "selected"}}>{{ limit.value }}</option>
            {{/each}}
          </select>
          documents
        </span>

        <span class="dropdown ml-2">
          <button class="btn btn-secondary {{unless changeQuery 'btn-sm'}} dropdown-toggle btn-rounded" type="button" data-toggle="dropdown"
            id="document-table-{{elementId}}-options" aria-haspopup="true" aria-expanded="false">
            Document Options
          </button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="document-table-{{elementId}}-options">

            {{!-- move the documents to a sister subset --}}
            <a class="dropdown-item" href="#">Move</a>

            {{!-- TODO: remove the documents from the subset --}}
            <a class="dropdown-item" href="#">Delete</a>
          </div>
        </span>

        <span class="dropdown ml-2">
          <button class="btn btn-secondary {{unless changeQuery 'btn-sm'}} dropdown-toggle btn-rounded" type="button" data-toggle="dropdown"
            id="document-table-{{elementId}}" aria-haspopup="true" aria-expanded="false">
            Show columns
            <span class="number-circle">{{numberOfFieldsShown}}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="document-table-{{elementId}}">
            {{#each metadata.fields as |field index|}}
              <div class="dropdown-item">
                {{
                  checkbox-select
                  checkboxId=(concat "table-" elementId "-field-selection-checkbox-" index)
                  checked=field.showInTable
                }}
                <label class="query-field-selection">{{field.name}}</label>
              </div>
            {{/each}}
          </div>
        </span>

      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover fixed">
      {{! table header }}
      <thead>
        <tr>
          <th class="header" scope="col"></th>
          {{! <th class="checkbox-header" style="width:1%;"></th> }}
          {{#each metadata.fields as |field index|}}
            {{#if field.showInTable}}
              <th class="{{field.name}} header" scope="col" style="{{columnWidth}}" onclick={{if field.sortable (action 'sortBy' index)}}>
                {{field.name}}
                {{#if field.sortable }}
                  <i class="fa fa-sort{{if field.sortType (concat "-" field.sortType)}} sorting" aria-hidden="true"></i>
                {{/if}}
              </th>
            {{/if}}
          {{/each}}
        </tr>
      </thead>
      {{! table body }}
      <tbody>
        {{#if documents.length}}
          {{! if documents are available show them }}
          {{#each documents as |document| }}
            {{ document-table-row             document=document fields=metadata.fields query=query }}
            {{ document-table-row-information document=document fields=metadata.fields query=query }}
          {{/each}}
        {{else if (eq documents.length 0)}}
          <tr>
            <td colspan="{{loading-row-width}}">
              <p>No documents found for given query parameters</p>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="{{loading-row-width}}">
              <div class="loading">
                <i class="page-loader fa fa-hourglass-o fa-spin fa-3x fa-fw"></i>
              </div>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  {{! indeces of displayed documents and navigation bar }}
  <div class="row">
    <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">
      {{! which documents are shown }}
      <div class="table-display-info">
        Displaying {{startDisplay}}-{{endDisplay}} of {{count}}
      </div>
    </div>{{! .col-xs-12.col-sm-12.col-md-3 }}

    <div class="col-lg-6">
      {{! navigation }}
      <div class="navigation-buttons text-center">
        {{! Go to first page }}
        <button class="btn btn-secondary rounded-left {{if onFirstPage 'disabled'}}"
          onclick={{if onFirstPage null (action 'getDocuments' firstPage)}}>
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>

        {{! Go to previous page }}
        <button class="btn btn-secondary {{if onFirstPage 'disabled'}}"
          onclick={{if onFirstPage null (action 'getDocuments' prevPage)}}>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>

        {{! Set buttons to navigate through pages }}
        {{#each quickSelect as |quickPage|}}
          <button class="btn btn-tertiary {{if quickPage.active 'active'}}"
            onclick={{action 'getDocuments' quickPage.pageN}}>
            {{quickPage.pageN}}
          </button>
        {{/each}}

        {{! Go to next page }}
        <button class="btn btn-secondary {{if onLastPage 'disabled'}}"
          onclick={{if onLastPage null (action 'getDocuments' nextPage)}}>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>

        {{! Go to last page }}
        <button class="btn btn-secondary rounded-right {{if onLastPage 'disabled'}}"
          onclick={{if onLastPage null (action 'getDocuments' lastPage)}}>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </div>{{! .col-xs-12.col-sm-12.col-md-6 }}

</div>{{! .row }}

{{yield}}