<div class="row document-table">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 table-options">
        {{ query-options fields=fields action=changeQuery }}
        {{ pagination-limit limit=pagination.limit changeLimit=changeLimit }}
      </div>
    </div>
    {{ document-table-content limit=pagination.limit documents=documents fields=fields sortByField=sortByField }}
    {{ pagination-navigation pagination=pagination documents=documents changePage=changePage }}
  </div>
    {{ document-table-create-subset createSubset=createSubset }}
</div>

{{yield}}