<div class="row">
  <div class="col-lg-12">

    <div class="dataset-label">
      <div class="form-group">

        <div class="row">
          <div class="col-md-6">
            <label for="dataset-label">Dataset Name</label>
            <input type="text" id="dataset-label" class="form-control"
              oninput={{action 'changeDatasetName'}} value={{dataset.label}}
              placeholder="Add dataset name">
          </div>
        </div>

      </div>
    </div><!-- .dataset-label -->

    <div class="dataset-description">
      <div class="form-group">
        <label for="dataset-description">Description</label>
        <textarea id="dataset-description" class="form-control"
          rows="5" oninput={{action 'changeDatasetDescription'}}
          placeholder="Add dataset description (optional)"></textarea>
      </div>
    </div><!-- .dataset-description -->

    <div class="dataset-statistics">
      {{dataset.numDocs}} documents, {{dataset.size}} bytes
    </div>

  </div><!-- .col-lg-offset-2.col-lg-8 -->
</div><!-- .row -->

<div class="row">
  <div class="col-lg-12">

    <table class="table">
      <thead>
        <tr>
          <th>field name</th>
          <th class="center">type</th>
          <th class="center">included</th>
        </tr>
      </thead>
      <tbody>
        {{#each fieldList as |field index|}}
          {{dataset-upload-field name=field.name type=field.type included=field.included index=index}}
        {{/each}}
      </tbody>
    </table>

  </div><!-- .col-lg-offset-2.col-lg-8 -->
</div><!-- .row -->

<div class="row">
  <div class="col-lg-12">
    <button {{action submitDataset file }} class="btn btn-primary pull-right">Save Dataset</button>
    <button {{action resetList}} class="btn btn-default pull-right">Cancel</button>
  </div><!-- .col-lg-offset-2.col-lg-8 -->
</div><!-- .row -->

{{yield}}