<div class="row">
  <div class="col">

    <p class="method-description">
      <span class="highlight-text-only">Clustering</span> groups
      documents that are similar to each other. The number of groups is specified
      with the <span class="highlight">Number of clusters</span> parameter.
    </p>

  </div>{{! col }}
</div>{{! row }}

<div class="row">

  <div class="col-sm-6">
    <div class="form-group">

      <label class="method-selection-label parameter">Number of clusters</label>
      <input
        type="number"
        class="form-control"
        value={{k}}
        placeholder="Input number of clusters"
        autocomplete="false"
        min="2"
        step="1"
        oninput={{action 'selectNumberOfClusters' value='target.value'}}
      />

    </div>{{! form-group }}
  </div>{{! col-sm-6 }}

  <div class="col-sm-6">
    <div class="form-group">

      <label class="method-selection-label parameter">Type of clustering</label>
      <select class="form-control" onchange={{action 'selectClusteringType' value="target.value"}}>
        {{#each clusteringTypes as |type index|}}
          <option value='{{index}}'>{{type.fullName}}</option>
        {{/each}}
      </select>

    </div>{{! form-group }}
  </div>{{! col-sm-6 }}

</div>{{! row }}

<div class="row">
  <div class="col">

    {{
      method-selection-fields
      parameters=parameters
      dataset=dataset
      type=chosenClusteringType
    }}

  </div>{{! col }}
</div>{{! row }}

{{yield}}