<div class="row">
  <div class="col-lg-12">

    <p class="method-description">
      <span class="highlight-text-only">Clustering</span> will group
      documents that are similar to each other. The number of groups is specified
      with the <span class="highlight">Number of clusters</span> parameter.
    </p>

  </div><!-- .col-lg-12 -->
</div><!-- .row -->

<div class="row">

  <div class="col-sm-6">
    <div class="form-group">
      <label class="method-selection-label parameter">Number of clusters</label>
      <input type="number" class="form-control" min="2" step="1" value={{k}}
        oninput={{action 'selectNumberOfClusters' value='target.value'}}
        placeholder="Input number of clusters"
      />
    </div><!-- .form-group -->
  </div><!-- .col-lg-6 -->

  <div class="col-sm-6">
    <div class="form-group">
      <label class="method-selection-label parameter">Type of clustering</label>
      <select class="form-control" onchange={{action 'selectClusteringType' value="target.value"}}>
        {{#each clusteringTypes as |type index|}}
          <option value='{{index}}'>{{type.fullName}}</option>
        {{/each}}
      </select>
    </div>
  </div>

</div><!-- .row -->

<div class="row">
  <div class="col">
    <label class="method-selection-label parameter">
      Select fields used for clustering
    </label>
    {{ component (concat "method-selection-fields-" chosenClusteringType) 
      parameters=parameters
      dataset=dataset
    }}
  </div>
</div>

{{yield}}