<td scope="col" class="field name">
  <input type="text" id="{{nameId}}" class="form-control" oninput={{action "changeFieldName"}} value={{name}}>
</td>

<td class="center field type">
  <select id="{{typeId}}" class="form-control" onchange={{action "changeFieldType"}}>
    {{#each fieldTypes as |typeOption|}}
      <option value='{{typeOption.type}}'
        selected={{if typeOption.selected 'selected'}}>
        {{typeOption.type}}
      </option>
    {{/each}}
  </select>
</td><!-- .field.type -->

<td class="center field included">
  {{ checkbox-select checkboxId=checkboxId checked=included checkboxAction=(action "changeFieldInclusion") }}
</td>

{{yield}}