<div class="row subset-information">
  <div class="col-lg-12">

    <div class="row">
      <div class="col-lg-10">
        <h3 class="description-header">{{ model.label }}
          <button class="btn btn-secondary edit pull-right" data-toggle="modal"
          data-target="#edit-subset-modal" {{action 'removeModalWarnings'}}>Edit</button>
        </h3>

        <div class="row">
          <div class="col-lg-3">
            <p class="subset-basic-information">
              <span class="dataset-documents-number">{{ model.documentCount }} documents</span><br/>
              Created using: <span class="method">{{if model.resultedIn model.resultedIn.methodType 'none' }}</span><br/>
              Derived from: <span class="subset">{{if model.resultedIn model.resultedIn.appliedOn.label 'none' }}</span><br/>
            </p>
          </div>
          {{#if model.description }}
            <div class="col-lg-9">
              <h5>Description</h5>
              <p class="dataset-description">{{ model.description }}</p>
            </div>
          {{/if}}
        </div>

      </div>
    </div>

    <div class="row subset-navigation">
      <div class="col-lg-10">

        {{#link-to "dataset.subset.analysis" model class="btn"}}Analysis{{/link-to}}
        {{#link-to "dataset.subset.documents" model class="btn"}}Documents{{/link-to}}

      </div>
    </div>
  </div>
</div>

<!-- subset statistics and documents -->
<div class="row">
  <div class="col-lg-10">
    {{outlet}}
  </div>
</div>


<!-- Edit subset modal -->
<div class="modal fade" id="edit-subset-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- modal header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit subset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- modal title -->
      </div>
      <div class="modal-body new-subset">
        <div class="container-fluid">

          <!-- subset label -->
          <div class="row new-subset-information">
            <div class="col-lg-6">
              <label>Subset Label</label>
              <input type="text" class="form-control"
                value={{model.label}}
                placeholder="Add subset label">
            </div>
          </div>

          <!-- subset description -->
          <div class="row new-subset-information">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="5"
                  value={{model.description}}
                  placeholder="Add subset description (optional)">
                </textarea>
              </div>
            </div>
          </div>

          <!-- warning placeholder -->
          <div class="row">
            <div class="col-lg-12">
              <div class="warning">
              </div>
            </div>
          </div>

        </div><!-- .container-fluid -->

      </div><!-- .modal-body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" {{action 'submitSubsetInfo'}}>Edit subset</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
