<td class="field name">
  <input type="text" id="{{nameId}}" class="form-control {{if invalid 'invalid-value'}}" 
    oninput={{action "changeFieldName"}} value={{name}} disabled={{disabled}}>
  
  <div class="field-name-warning {{if invalid 'show'}}">
    {{#if nameNotExists}}Field name is missing{{/if}}
    {{#if multipleNames}}Field name already in use{{#if invalidCharacters}}.{{/if}}{{/if}}
    {{#if invalidCharacters}}Remove invalid characters: {{invalidCharacters}}{{/if}} 
  </div>

</td>

<td class="center field type">
  <select id="{{typeId}}" class="form-control" onchange={{action "changeFieldType"}} disabled={{disabled}}>
    {{#each fieldTypes as |typeOption|}}
      <option value='{{typeOption.type}}' selected={{if typeOption.selected 'selected'}}>
        {{typeOption.type}}
      </option>
    {{/each}}
  </select>
</td><!-- .field.type -->

<td class="center field included">
  {{ checkbox-select checkboxId=checkboxId checked=included checkboxAction=(action "changeFieldInclusion") }}
</td>

{{yield}}