<div id="structure-subset-{{subset.id}}">

  {{#if ontology.length }}
    {{! button for toggling collapse }}
    <button class="btn btn-xs rotate {{if collapsed 'right'}}" data-toggle="collapse"
      aria-expanded="false" onclick={{action 'toggleBranch'}}>
      <span class="fa-layers">
        {{fa-icon 'chevron-down'}}
      </span>
    </button>

  {{else if subset.documentCount}}
    {{! placeholder for the toggle }}
    <span class="tree-structure__button-placeholder"></span>
  {{else}}
    {{! placeholder for the toggle }}
    <span class="tree-structure__button-placeholder">
      <span class="loading-pulse"></span>
    </span>
  {{/if}}

  {{#if subset.documentCount}}

    {{! link to the subset information }}
    {{#link-to 'dataset.subset' subset class="rounded"}}
      {{ subset.label }}
    {{/link-to}}

    <small class="ml-1">({{subset.documentCount}} docs)</small>
    <small class="ml-1 delete" id="delete-subset-{{subset.id}}"
      data-toggle="modal"
      data-target="#subset-delete-modal"
      data-subsetid="{{subset.id}}">

      <span class="fa-layers fa-fw">
        {{fa-icon 'times'}}
      </span>
    </small>

  {{else}}
    {{! set placeholder }}
    <span class="tree-structure__subset__placeholder">{{ subset.label }}</span>
  {{/if}}
</div>

{{#bs-collapse collapsed=collapsed class="tree-branch"}}
  {{#each ontology as |method| }}

    {{! subsets are joined to this method }}
    {{
      structure-method
      method=method
    }}

  {{/each}}
{{/bs-collapse}}