{{! Create document subset }}
<div role="document" class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    {{! modal header }}
    <div class="modal-header">
      {{! modal title }}
      <div class="modal-header-title">
        <h4 class="modal-title">Create Subset</h4>
        <p class="modal-subtitle">{{type}}</p>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body new-subset">
      <div class="container-fluid">

        {{! subset label }}
        <div class="row new-subset-information">
          <div class="col-lg-6">
            <label>Subset Name</label>
            <input type="text" class="form-control {{if invalid "invalid"}}"
              oninput={{action 'changeSubsetName'}} value={{name}}
              placeholder="Add subset name">
             <div class="field-warning text-right">
              {{#if invalid}}Subset name should be given{{/if}}
            </div>
          </div>
        </div>

        {{! subset description }}
        <div class="row new-subset-information">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="5"
                  oninput={{action 'changeSubsetDescription'}}
                placeholder="Add subset description (optional)"
                value={{description}}></textarea>
            </div>
          </div>
        </div>

        {{! additional content }}
        <div class="row">
          <div class="col-lg-12">
            {{yield}}
          </div>
        </div>

        {{! warning placeholder }}
        <div class="row">
          <div class="col-lg-12">
            <div class="warning"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button {{action 'saveSubset'}} type="button" class="btn btn-primary">Save Subset</button>
    </div>

  </div>{{! .modal-content }}
</div>{{! .modal-dialog }}
