<div class="{{if maximize "analysis__header" "aggregate__title"}}">
  {{ field }} hierarchy
  <i class="fa {{unless maximize 'fa-expand' 'fa-times'}} ml-auto my-auto"
    aria-hidden="true" {{action 'maximizeComponent'}}></i>
</div>
{{ graph-treemap distribution }}