<div class="container-fluid dataset-header">
  <div class="row">
    <div class="col-sm-12 offset-lg-1 col-lg-11">
      <div class="row dataset-information">
        <div class="col-sm-5 col-md-4 col-lg-3">
          {{! Dataset title and information }}
          <h2 class="description-header">{{dataset.label}}</h2>

          <button class="btn btn-secondary pull-right" data-toggle="modal"
            data-target="#edit-dataset-modal" {{action 'removeWarnings'}}>Edit</button>

          <button class="btn btn-light pull-right" data-toggle="modal"
            data-target="#delete-dataset-modal">Delete</button>

          <span class="dataset-documents-number">{{dataset.numberOfDocuments}} documents</span><br/>
          <span class="dataset-created">Created: {{dataset.date}}</span>
        </div>{{! .col-sm-5.col-md-4.col-lg-3 }}

          <div class="col-sm-7 col-md-8 col-lg-9">
            {{! Dataset description }}
            <div class="row">
              <div class="col-lg-10">
                {{#if dataset.description}}
                  <h4 class="description-header">Description</h4>
                  <p class="dataset-description">{{dataset.description}}</p>
                {{/if}}
              </div>{{! .col-lg-10 }}
            </div>{{! .row }}
          </div>{{! .col-sm-7.col-md-8.col-lg-9 }}

      </div>{{! .row }}
    </div>{{! .col-sm-12.offset-lg-1.col-lg-11 }}
  </div>{{! .row }}

  <div class="row visualization-field-selection">
    <div class="col-sm-12 offset-lg-1 col-lg-11">
      <div class="offset-sm-5 col-sm-7 offset-md-4 col-md-8 offset-lg-3 col-lg-9">
        <div class="row">
          <div class="col-lg-10 pl-2">

            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
              id="visualization-field-selection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Field visualization selection
            </button>
            <div class="dropdown-menu dropdown-menu-left">
              {{#each fieldSelection.fields as |field index|}}
                <div class="dropdown-item">
                  {{
                    checkbox-select
                    checkboxId=(concat 'field-visual-' index)
                    checked=field.showInVisual
                  }}
                  <label class="query-field-selection">{{field.name}}</label>
                </div>
              {{/each}}
            </div>

          </div>{{! .col-lg-10 }}
        </div>{{! .row }}
      </div>{{! .col-sm-7.col-md-8.col-lg-9 }}
    </div>
  </div>
</div>{{! .container-fluid }}

{{! Delete dataset warning }}
<div class="modal" id="delete-dataset-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {{! modal header }}
      <div class="modal-header">
        {{! modal title }}
        <h4 class="modal-title warning m-auto">Deleting dataset</h4>
      </div>
      {{! modal body }}
      <div class="modal-body">
        <p>
          Are you sure you want to delete dataset <b class="uppercase">{{dataset.label}}</b>?
          You will not be able to revert this action.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" onclick={{action deleteDataset}}>
          Yes, delete dataset
        </button>
      </div>

    </div>{{! /.modal-content }}
  </div>{{! /.modal-dialog }}
</div>{{! /.modal }}


{{! Edit dataset }}
<div class="modal" id="edit-dataset-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {{! modal header }}
      <div class="modal-header">
        {{! modal title }}
        <h4 class="modal-title">Edit dataset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{! modal title }}

      </div>
      <div class="modal-body new-subset">
        <div class="container-fluid">

          {{! dataset label }}
          <div class="form-group row new-subset-information">
            <label class="col-md-3 col-form-label">Dataset Label</label>
            <div class="col-md-9">
              <input type="text" class="form-control editing emphasize"
                oninput={{action 'editLabel'}}
                value={{label}}
                placeholder="Add dataset label">
            </div>
          </div>

          {{! dataset description }}
          <div class="form-group row new-subset-information">
            <label class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control editing" rows="5"
                oninput={{action 'editDescription'}}
                value={{description}}
                placeholder="Add dataset description (optional)">
              </textarea>
            </div>
          </div>

          {{! warning placeholder }}
          <div class="row">
            <div class="col-lg-12">
              <div class="warning"></div>
            </div>{{! .col-lg-12 }}
          </div>{{! .row }}

        </div>

      </div>{{! .modal-body }}

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" {{action 'updateDataset'}}>Save</button>
      </div>

    </div>{{! .modal-content }}
  </div>{{! .modal-dialog }}
</div>{{! .modal }}

{{yield}}