{{#if parameters.features.length}}

  <label class="highlight-text-only parameter mt-3">
      Select fields used for analysis
  </label>

  {{#each parameters.features as |features index| }}

    <div class="dataset-field">

      <span class="dataset-field__include">
        <label class="dataset-field__include-label">include</label>
        {{ checkbox-select class="pull-right"
            checkboxId=(concat "dataset-field-" index)
            checked=features.included
        }}
      </span>{{! dataset-field__include  }}

      <div class="dataset-field__name">
        {{features.field}}
      </div>

    </div>{{! dataset-field }}

  {{/each}}

  {{#if areStringFeatures}}
    <label class="highlight-text-only parameter mt-3">
      Add additional stopwords (optional)
    </label>

    {{
      input
      value=parameters.stopwords
      class="form-control editing"
      placeholder="Separater stopwords with a comma"
    }}

  {{/if}}

{{else}}

  <div class="dataset-field__name warning mt-2">
    No fields of type <b>{{type.name}}</b> found
  </div>

{{/if}}