<td class="field name">
  <input type="text" id="{{nameId}}" class="form-control" oninput={{action "changeFieldName"}} value={{name}}>
</td>

<td class="center field type">
  <div class="form-inline">
    <select id="{{typeId}}" class="form-control" onchange={{action "changeFieldType"}}>
      {{#each fieldTypes as |type|}}
        <option>{{type}}</option>
      {{/each}}
    </select>
  </div>
</td><!-- .field.type -->

<td class="center field included">
  {{ checkbox-select checkboxId=checkboxId checked=included checkboxAction=(action "changeFieldInclusion") }}
</td>

{{yield}}